//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0

/ {
    combos {
        compatible = "zmk,combos";

        combo_Enter {
            bindings = <&kp RET>;
            key-positions = <16 17 18 16 17 18>;
            layers = <0>;
        };

        combo_TAB {
            bindings = <&kp TAB>;
            key-positions = <13 12>;
        };
    };

    macros {
        macro_PWD: macro_PWD {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(V) &kp A &kp N &kp D &kp A &kp A &kp G &kp N1 &kp N2 &kp N3 &kp EXCL &kp EXCL &kp S &kp L &kp A &kp V &kp E>;
            label = "MACRO_PWD";
        };
    };

    behaviors {
        &mt {
            quick-tap-ms = <50>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
            &kp Q  &kp W  &kp E           &kp R  &kp T        &kp Y            &kp U        &kp I          &kp O       &kp P
            &kp A  &kp S  &kp D           &kp F  &kp G        &mt RIGHT_GUI H  &mt RCTRL J  &mt RSHFT K    &kp L       &kp SEMICOLON
&kp ESCAPE  &kp Z  &kp X  &kp C           &kp V  &kp B        &mt RIGHT_ALT N  &kp M        &kp COMMA      &kp PERIOD  &kp SLASH      &kp SQT
                          &lt 1 LEFT_ALT  &sl 1  &kp SPACE    &kp ENTER        &mo 2        &kp BACKSPACE
            >;
        };

        layer_1 {
            bindings = <
        &trans  &trans          &kp UP_ARROW    &trans           &kp LEFT_BRACE          &kp RIGHT_BRACE        &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &trans
        &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp LEFT_BRACKET        &kp RIGHT_BRACKET      &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &trans
&trans  &trans  &trans          &trans          &trans           &kp LEFT_PARENTHESIS    &kp RIGHT_PARENTHESIS  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_NUMBER_0  &trans
                                &trans          &trans           &trans                  &trans                 &trans           &kp DEL
            >;
        };

        layer_2 {
            bindings = <
        &kp EXCLAMATION  &kp AT_SIGN  &kp POUND  &kp DOLLAR  &kp PERCENT       &kp AMPERSAND  &kp ASTERISK  &trans  &trans  &trans
        &trans           &trans       &trans     &trans      &kp MINUS         &kp PLUS       &kp HOME      &trans  &trans  &trans
&trans  &trans           &trans       &trans     &trans      &kp UNDERSCORE    &kp EQUAL      &kp END       &trans  &trans  &trans  &trans
                                      &trans     &trans      &trans            &trans         &trans        &trans
            >;
        };

        layer_3 {
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &trans  &trans      &trans           &trans        &trans
        &trans  &trans  &trans  &trans  &trans    &trans  &trans      &trans           &trans        &trans
&trans  &trans  &trans  &none   &trans  &trans    &trans  &kp K_MUTE  &kp C_VOLUME_UP  &kp C_VOL_DN  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans      &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        L1L2isL3 {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
